{% extends "main/layout.html" %}
{% load static %}

{% block lnk %}
    <link rel="stylesheet" href="{% static 'main/css/add-form.css' %}">
{% endblock %}

{% block title %}Add task{% endblock %}

{% block content %}
    <div class="features">
        <form method="post">
            {% csrf_token %}
            <div class="container-all">
                <h1>Form for adding a task</h1>
                <div class="form-title">
                    {{ form.title }}<br>
                    <button class="btn btn-success" type="submit">Зберегти</button>
                </div>
                <div class="form-description">
                    {{ form.description }}<br>
                </div>
                <div class="options">
                    {{ form.duedate }}<br>
                    {{ form.priority }}<br>
                </div>
                <div class="last-task">
                    <h1>Test</h1>
                </div>
            </div>
            
        </form>
    </div>
{% endblock %}
